*{
    padding: 0;
    margin: 0;
}
.content {
    margin-top: -20px;
    margin-left: 30px; 
    transition: margin-left 0.3s ease;
    padding: 20px;
}

.content.expanded {
    margin-left: 200px; }

    * {
        margin: 0;
        padding: 0;
    }
    .App {
        display: flex;
        min-height: 100vh;
    
    }
    
    .sidebar {
        
    }
    
    .content {
        flex-grow: 1;  
        transition: margin-left 0.3s ease;  
    }
    
    .content.expanded {
        margin-left: 200px; 
    }
    